<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%if logged_in?%>
      <h3>Welcome <%=current_user.username%></h3>
      <form action="<%= session_url %>" value="POST">
        <input type="hidden" name="_method" value="DESTROY">
        <button>Click here to log out</button>
      </form>
      <!-- <a href="<%= session_url %>" name="method" value="DELETE">Log Out</a> -->
      <!-- <input type="submit" id="logout" value="Log out"> -->
    <%else%>
      <a href="<%= new_session_url %>">Log in</a>
      <br>
      <a href="<%= new_user_url %>">Click here to create a new profile</a>
    <%end%>
    <%= yield %>
  </body>
</html>
